{% comment %} {% load compress %} {% endcomment %}

{% comment %} {% load tailwindcss %} {% endcomment %} {% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap"
    rel="stylesheet"
  />

  <link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">

  {% comment %} {% tailwindcss %} {% endcomment %}

  {% csrf_token %}
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" />
  <link
    href="{% static 'css/templatemo-ebook-landing.css' %}"
    rel="stylesheet"
  />
  <link
    href="{% static 'css/main.css' %}"
    rel="stylesheet"
  />

  {% comment %} {% compress css %}
    <link rel="stylesheet" href="{% static 'css/styles.scss' %}" type="text/x-scss">
  {% endcompress %} {% endcomment %}

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <!-- A plugin for password show/hide  -->
  <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

  {% comment %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  {% endcomment %}

  <link href="{% static 'css/toastify.css' %}" rel="stylesheet" />
  <script src="{% static 'js/toastify.js' %}"></script>
</head>
